<!DOCTYPE html>
<html>

  <head>
    <title>Groundpound</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <script type="text/javascript">
    window.sc_mini_logo = "<%= image_url('sc_mini_logo.png') %>"
    window.sc_default_artwork = "<%= image_url('sc_default_artwork.jpg') %>"
  </script>

  <body>
    <%= yield %>
  </body>
</html>
