<!DOCTYPE html>
<html>

  <head>
    <title>Groundpound</title>
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('groundpound_teal_no_wordmark_square.png'), :rel => 'icon', :type =>  'image/ico' %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <script type="text/javascript">
    window.gp_logo = "<%= image_url('groundpound_teal_no_wordmark.png') %>"
    window.gp_logo_wordmark = "<%= image_url('groundpound_logo_teal.png') %>"
    window.gp_square = "<%= image_url('groundpound_teal_no_wordmark_square.png') %>"
    window.pause = "<%= image_url('pause.png') %>"
    window.play_button = "<%= image_url('play-button.png') %>"
    window.previous_track = "<%= image_url('previous-track.png') %>"
    window.skip_track = "<%= image_url('skip-track.png') %>"

  </script>

  <body>
    <%= yield %>
  </body>
</html>
